# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
log/
*.log

# Temp status/runtime files
tmp/

# Rosbag files
rosbag/
*.db3
*.bag

# Virtual environments
venv/
.env/

# OS / editor files
.DS_Store
*.swp
*.swo

# Experiment outputs
*.jpg
*.csv

